.header{
    grid-area: h;
    background-color:  aqua;
    }
    .header img{
      width: 80px;
     background-color: blue;
    }
    .loginBlock{
       float:  right;
    }
.loginBlock a{
    color: black;
}